<section id="resetPassword">
    <div class="w-screen h-screen">
        <!-- <img src="../../../../assets/img/admin-credentials-background.jpg" class="w-full h-full object-cover object-center absolute"> -->
        <img src="../../../../assets/img/reset-password-background.jpg" class="w-full h-full absolute object-center object-cover">
        <div class="container mx-auto relative">
            <div class="absolute top-0 left-0 bg-white p-5 rounded-lg mt-32 max-w-md w-full">
                <h1 class="text-primary font-bold text-2xl tracking-wider mb-10 text-center">Reset Your Password</h1>
    
                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                    <div class="my-8 h-24 relative">
                        <label for="password" class="font-semibold">New Password</label>
                        <input id="password" [type]="isPasswordVisible ? 'text' : 'password'" class="w-full p-3 bg-gray-300 shadow-inner focus:outline-none rounded-lg mt-3" formControlName="password">
                        <span class="text-sm text-primary" *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched">* Password is required</span>
                        <i *ngIf="!isPasswordVisible" class="fa fa-eye inline-block absolute text-xl top-0 right-0 mt-12 mr-2 cursor-pointer" (click)="isPasswordVisible = !isPasswordVisible"></i>
                        <i *ngIf="isPasswordVisible" class="fa fa-eye-slash inline-block absolute text-xl top-0 right-0 mt-12 mr-2 cursor-pointer" (click)="isPasswordVisible = !isPasswordVisible"></i>
                    </div>
    
                    <div class="mt-8 text-center">
                        <button type="submit" class="border-2 border-primary text-white bg-primary hover:bg-white duration-200 hover:text-primary font-semibold rounded-full px-5 py-2 focus:outline-none">Join Us</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</section>