<section id="authentication-section" class="w-screen h-screen bg-red-500 flex items-center justify-center relative">
    <img src="../../../assets/img/CineFlex Official Logo.png" alt="CineFlex logo" class="w-32 top-0 left-0 ml-1 mt-1 md:ml-5 md:mt-5 absolute">
    <div class="flex bg-white shadow-2xl max-w-screen-lg flex-grow mx-5 -mt-10" id="main-form">
        <!-- left image -->
        <div class="w-1/2 relative hidden md:block">
            <img src="../../../assets/img/login-image.jpg" class="absolute inset-0 w-full h-full">
        </div>

        <!-- right form -->
        <div class="md:w-1/2 px-10 py-5 flex-none w-full">

            <h1 class="text-4xl font-extrabold text-gray-900 text-right">Log In</h1>
            <p class="text-right">Become a CineFlex member. <a class="text-blue-500 cursor-pointer" routerLink="/auth/signup">Join</a></p>

            <form class="mt-10 relative" [formGroup]="loginForm" (ngSubmit)="login()">
                <!-- Email input  -->
                <div class="mt-12 h-24">
                    <label for="email" class="font-bold block mb-1">Email</label>
                    <input [formControlName]="'email'" type="text" id="email" class="bg-gray-300 rounded-lg py-2 w-full pl-3 shadow-inner focus:outline-none focus:shadow-outline">
                    <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="block text-sm text-red-600 font-semibold">* Please fill in a valid email</span>
                </div>

                <!-- Password input -->
                <div class="mt-8 h-24 relative">
                    <label for="password" class="font-bold block mb-1">Password</label>
                    <input #password [formControlName]="'password'" [type]="isPasswordVisible ? 'text': 'password'" id="email" class="bg-gray-300 rounded-lg py-2 w-full pl-3 shadow-inner focus:outline-none focus:shadow-outline">
                    <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="block text-sm text-red-600 font-semibold">* Please fill in a valid password</span>
                    <span class="absolute right-0 inline-block mr-3 mt-2 cursor-pointer" *ngIf="password.value" (click)="isPasswordVisible = !isPasswordVisible">
                        <i class="fa fa-eye text-xl" *ngIf="!isPasswordVisible"></i>
                        <i class="fa fa-eye-slash text-xl" *ngIf="isPasswordVisible"></i>
                    </span>
                </div>

                <!-- Singup button -->
                <div class="mt-16 mb-3 text-center md:mt-12">
                    <button type="submit" class="focus:outline-none relative" [ngClass]="{'cursor-not-allowed': !loginForm.valid || isLoading}">
                        <!-- loading spinner -->
                        <div class="loadingio-spinner-spinner-8e51mcrbiyx absolute inline-block ml-10 -mt-5" *ngIf="isLoading"><div class="ldio-g5juwyp9ree">
                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                        </div></div>

                        <a [ngClass]="{'bg-red-300': !loginForm.valid || isLoading, 'bg-primary border-primary border-solid border-2 hover:text-primary hover:bg-white': loginForm.valid && !isLoading}" class="text-white font-bold px-12 py-3 rounded-full duration-200 focus:outline-none">Login</a>
                    </button>
                </div>
                
                <div class="text-center md:mt-6">
                    <a class="cursor-pointer text-blue-600 text-sm" (click)="isForgotPasswordFormOpen = true">
                        Forgot Your Password ?
                    </a>
                </div>
                <div class="text-center underline">
                    <a class="cursor-pointer text-blue-600 text-sm" routerLink="/">
                        Back to Home
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div id="background-overlay" class="fixed w-full h-full inset-0 bg-black opacity-50" *ngIf="isForgotPasswordFormOpen" [@backgroundOverlayAnimation]>
    </div>

    <div class="fixed bg-white p-5 rounded-lg mt-48 max-w-md w-full top-0" id="resetPasswordContainer" *ngIf="isForgotPasswordFormOpen" [@popupAnimation]>
        <h1 class="text-primary font-bold text-2xl tracking-wider mb-10 text-center">Forgot Your Password</h1>

        <p class="text-sm text-center text-gray-500">Please fill in your email below so that we can send you a reset password link</p>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <div class="my-8 h-24 relative">
                <label for="email" class="font-semibold">Enter your email</label>
                <input id="email" type="text" class="w-full p-3 bg-gray-300 shadow-inner focus:outline-none rounded-lg mt-3" formControlName="email">
                <span class="text-sm text-primary" *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched">* Invalid email</span>
            </div>

            <div class="mt-8 text-center">
                <button class="border-2 border-red-500 text-white px-5 py-2 bg-red-400 rounded-lg mx-3 font-semibold focus:outline-none cursor-pointer hover:text-red-500 hover:bg-white duration-200" (click)="isForgotPasswordFormOpen = false">Cancel</button>
                <button type="submit" class="border-2 border-green-500 text-white bg-green-400 hover:bg-white duration-200 hover:text-green-500 font-semibold rounded-lg px-5 py-2 focus:outline-none">Send</button>
            </div>
        </form>
    </div>
</section>
