<section id="movieDetailsSection" class="relative">
    <!-- Main Movie Backround Image-->
    <div class="relative" id="mainMovieBackground">
        <img src="{{ tmdbMovieDetails && generateImageLink(tmdbMovieDetails.backdrop_path) }}" alt="" class="w-full h-full object-cover object-center" id="mainMovieBackground">
        <div id="mainMovieBackgroundOverlay" class="inset-0 bg-black z-10 absolute"></div>
        <div class="absolute inset-0 z-20">
            <div class="container mx-auto">
                <div id="mainMovieContent" class="mt-48 px-3">
                    <h1 class="text-white md:text-6xl text-2xl" id="mainMovieTitle">{{ tmdbMovieDetails && tmdbMovieDetails.title }}</h1>
                    <ul id="mainMovieCategories" class="mt-3 font-semibold" *ngIf="!isMovieAvailable">
                        <li class="inline-block text-white md:text-xl mr-3" *ngFor="let category of tmdbMovieDetails?.genres">{{ category.name }}</li>
                    </ul>

                    <ul id="mainMovieCategories" class="mt-3 font-semibold" *ngIf="isMovieAvailable">
                        <li class="inline-block text-white md:text-xl mr-3" *ngFor="let category of movie?.categories">{{ category.name }}</li>
                    </ul>

                    <!-- Movie Not Available Notication -->
                    <h3 class="text-white text-lg font-semibold mt-20 animate-bounce" *ngIf="!isMovieAvailable">This Movie Is Currently Not Available</h3>

                    <!-- Coming soon Movie Notification -->
                    <h3 class="text-white text-lg font-semibold mt-20 animate-bounce" *ngIf="isMovieAvailable && !movie?.filmLink">We will post this movie soon. Stay tuned!</h3>

                    <!-- Watch Me Button -->
                    <a class="inline-block px-5 py-2 bg-primary mt-12 rounded-full border-2 border-primary hover:bg-white cursor-pointer duration-200 group" *ngIf="isMovieAvailable && movie?.filmLink">
                        <span class="text-white font-semibold text-sm group-hover:text-primary duration-200">Watch Me</span>
                        <i class="fa fa-play-circle inline-block ml-3 text-lg text-white group-hover:text-primary duration-200"></i>
                    </a>
                    <br>

                    <!-- Like Button -->
                    <a class="inline-block px-5 py-2 bg-white mt-12 rounded-full border-2 border-primary hover:bg-primary cursor-pointer duration-200 group" *ngIf="isUserLoggedIn && !haveUserLikedMovie && isMovieAvailable" (click)="likeMovie()">
                        <span class="text-primary font-semibold text-sm group-hover:text-white duration-200">Like</span>
                        <i class="fa fa-heart inline-block ml-2 text-lg text-primary group-hover:text-white duration-200 animate-bounce"></i>
                    </a>

                    <!-- Unlike Button -->
                    <a class="inline-block px-5 py-2 bg-green-600 mt-12 rounded-full border-2 border-green-400 hover:bg-white cursor-pointer duration-200 group" *ngIf="isUserLoggedIn && haveUserLikedMovie && isMovieAvailable" (click)="unlikeMovie()">
                        <span class="text-white font-semibold text-sm group-hover:text-green-500 duration-200">Liked !</span>
                        <i class="fa fa-fire inline-block ml-2 text-lg text-primary group-hover:text-primary duration-200 animate-bounce"></i>
                    </a>

                    <!-- Rate Button -->
                    <a [tooltipTriggerFor]="ratingTooltip" trigger="click" theme="dark" class="inline-block ml-3 px-5 py-2 bg-blue-500 mt-12 rounded-full border-2 border-blue-700 hover:bg-white cursor-pointer duration-200 group" *ngIf="isUserLoggedIn && ratedValue === 0 && isMovieAvailable">
                        <span class="text-white font-semibold text-sm group-hover:text-blue-500 duration-200">Rate It!</span>
                        <i class="fa fa-star inline-block ml-2 text-lg star-color duration-200 animate-bounce"></i>
                    </a>

                    <!-- Rated Button -->
                    <a [tooltipTriggerFor]="ratingTooltip" trigger="click" theme="dark" class="inline-block ml-3 px-5 py-2 bg-blue-500 mt-12 rounded-full border-2 border-blue-700 hover:bg-white cursor-pointer duration-200 group" *ngIf="isUserLoggedIn && ratedValue !== 0 && isMovieAvailable">
                        <span class="text-white font-semibold text-sm group-hover:text-blue-500 duration-200">You Rated {{ ratedValue }}</span>
                        <i class="fa fa-star inline-block ml-2 text-lg star-color duration-200 animate-bounce"></i>
                    </a>

                    <tooltip #ratingTooltip="tooltip">
                        <div class="">
                            <i class="fa fa-minus-circle cursor-pointer mx-1" (click)="deleteMovieRating()" (mouseenter)="currentStarValue = 0"></i>
                            <i class="fa fa-star text-xl text-white cursor-pointer mx-1" [ngClass]="{ 'star-color': i <= currentStarValue}" *ngFor="let i of [1, 2, 3, 4, 5]" (mouseenter)="currentStarValue = i" (click)="rateMovie(i); ratedValue = i; currentStarValue = ratedValue"></i>
                        </div>
                    </tooltip>

                </div>
            </div>
        </div>
    </div>

    <!-- Main Movie Details -->
    <div class="mt-24">
        <div class="container mx-auto flex px-3 justify-around md:flex-no-wrap flex-wrap">
            <!-- Left Details Content -->
            <div id="leftDetailsContent" class="md:w-2/3 w-full md:pr-20 pr-0">
                <!-- Movie Details Container -->
                <div id="movieDetailsContainer" class="flex flex-wrap">
                    <img class="w-56 rounded-lg shadow-xl inline-block mx-auto md:mx-0 md:-mt-64 -mt-40 z-20" alt="" src="{{ tmdbMovieDetails && generateImageLink(tmdbMovieDetails.poster_path) }}" id="moviePosterImage">
                    <div id="movieDetails" class="md:ml-12 mx-auto">
                        <h1 class="font-bold text-xl tracking-wide text-center md:text-left mt-8 md:mt-0" id="movieDetailsHeader">Movie Details</h1>
                        <div id="movieDetailsBody" class="mt-8">
                            <!-- Release Date -->
                            <div>
                                <span class="text-sm font-semibold">Release Date: </span>
                                <span class="text-sm text-gray-800">{{ tmdbMovieDetails && tmdbMovieDetails.release_date | date : 'dd/MM/yyyy'}}</span>
                            </div>

                            <!-- Categories -->
                            <div *ngIf="!isMovieAvailable">
                                <span class="text-sm font-semibold">Categories: </span>
                                <span class="text-sm text-gray-800">
                                    {{ tmdbMovieDetails && (tmdbMovieDetails.genres | categoryCommaSeparatorPipe)}}
                                </span>
                            </div>

                            <div *ngIf="isMovieAvailable">
                                <span class="text-sm font-semibold">Categories: </span>
                                <span class="text-sm text-gray-800">
                                    {{ movie && (movie.categories | categoryCommaSeparatorPipe)}}
                                </span>
                            </div>

                            <!-- Director -->
                            <div>
                                <span class="text-sm font-semibold">Director: </span>
                                <span class="text-sm text-gray-800">
                                    {{ tmdbMovieDetails && (tmdbMovieDetails.credits.crew | directorCommaSeparatorPipe)}}
                                </span>
                            </div>

                            <!-- Actors -->
                            <div>
                                <span class="text-sm font-semibold">Actors: </span>
                                <span class="text-sm text-gray-800">{{ tmdbMovieDetails && (tmdbMovieDetails.credits.cast | actorCommaSeparatorPipe)}}</span>
                            </div>

                            <!-- Country -->
                            <div>
                                <span class="text-sm font-semibold">Country: </span>
                                <span class="text-sm text-gray-800">
                                    {{ tmdbMovieDetails && (tmdbMovieDetails.production_countries | countryCommaSeparatorPipe)}}
                                </span>
                            </div>

                            <!-- Language -->
                            <div>
                                <span class="text-sm font-semibold">Languages: </span>
                                <span class="text-sm text-gray-800">{{ tmdbMovieDetails && (tmdbMovieDetails.spoken_languages | languageCommaSeparatorPipe)}}</span>
                            </div>

                            <!-- TMDB Rating -->
                            <div>
                                <span class="text-sm font-semibold">TMDB Rating: </span>
                                <span class="text-sm text-gray-800">{{ tmdbMovieDetails && tmdbMovieDetails.vote_average }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Plot Summary Container -->
                <div id="plotSummaryContainer" class="mt-20">
                    <h1 class="font-bold text-xl tracking-wide text-center md:text-left mt-8" id="plotSummaryHeader">Plot Summary</h1>
                    <p class="text-sm text-gray-800 mt-8">{{ tmdbMovieDetails && tmdbMovieDetails.overview }}</p>
                </div>

                <!-- Trailers and Videos Container-->
                <div id="trailerAndVideosContainer" class="mt-20">
                    <h1 class="font-bold text-xl tracking-wide text-center md:text-left mt-8" id="plotSummaryHeader">Trailer & Videos</h1>
                    
                    <div class="flex flex-col">
                        <!-- First video -->
                        <div class="w-full mb-5 mt-8 relative">
                            <!-- <iframe class="w-full rounded-lg shadow-xl" style="min-height: 400px;"
                            [src]="youtubeUrl(tmdbMovieDetails.videos.results[0].key)" allowfullscreen>
                            </iframe> -->
                            <img [src]="getYoutubeThumbnail(tmdbMovieDetails && tmdbMovieDetails?.videos.results[0].key)" alt="" class="w-full rounded-lg shadow-xl" style="min-height: 370px;">
                            <button class="absolute inset-0 w-full h-full group" (click)="isVideoOpen = true; youtubeUrl(tmdbMovieDetails.videos.results[0].key)">
                                <i class="fa fa-play-circle text-6xl text-white rounded-full group-hover:text-primary duration-200"></i>
                            </button>
                        </div>
                        <!-- Remaining videos -->
                        <div class="flex flex-1">
                            <div class="flex-1 md:mr-5 mr-1 relative" *ngFor="let video of (tmdbMovieDetails?.videos.results | videoSlicePipe)">
                                <!-- <iframe class="w-full rounded-lg shadow-xl"
                                    [src]="youtubeUrl(video.key)" allowfullscreen>
                                </iframe> -->
                                <img [src]="getYoutubeThumbnail(video.key)" alt="" class="w-full rounded-lg shadow-xl">
                                <button class="absolute inset-0 w-full h-full group" (click)="isVideoOpen = true; youtubeUrl(video.key)">
                                    <i class="fa fa-play-circle md:text-5xl text-2xl text-white rounded-full group-hover:text-primary duration-200"></i>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>

            </div>

            <!-- Right Details Content -->
            <div id="rightDetailsContent" class="md:w-1/3 w-full mt-12 md:mt-0">
                <h1 class="font-bold text-primary text-xl tracking-wide text-center md:text-left mb-8" id="plotSummaryHeader">Photo Gallery</h1>
                <!-- Photo Gallery -->
                <div id="photoGalleryContainer" class="flex w-full flex-wrap justify-center md:justify-start">
                    <div class="p-1" *ngFor="let image of (tmdbMovieDetails?.images.posters.slice(0, 4))">
                        <img [src]="'https://image.tmdb.org/t/p/original' + image.file_path" alt="" class="w-24 h-32 rounded-lg shadow-xl cursor-pointer hover:opacity-75 duration-200" (click)="isImageOpen = true; imageUrl(image.file_path)">
                    </div>
                </div>

                <!-- Top News -->
                <div class="md:mt-20 mt-64">
                    <app-top-news [shouldBreak]="true"></app-top-news>
                </div>
            </div>
        </div>
    </div>

    <!-- Background overlay -->
    <div class="absolute inset-0 w-full h-full bg-black z-30 opacity-50" *ngIf="isVideoOpen || isImageOpen" [@backgroundOverlayAnimation]>
    </div>

    <!-- Video player modal -->
    <div class="fixed mx-auto top-0 md:p-20 md:pt-0 bg-black z-30 mt-32 rounded-lg" *ngIf="isVideoOpen" id="videoPlayer" [@popupAnimation]>
        <div class="text-right">
            <i class="fa fa-times-circle text-primary md:mt-3 text-5xl mt-0 md:-mb-0 -mb-24 hover:text-white duration-200 cursor-pointer" (click)="isVideoOpen = false" id="videoExitIcon"></i>
        </div>
        <iframe class="w-full rounded-lg shadow-xl h-64 md:h-full"
        [src]="selectedVideo" allow='autoplay' allowfullscreen>
            
        </iframe>
    </div>

    <!-- Image modal -->
    <div class="fixed top-0 md:p-20 md:pt-0 bg-black z-30 mt-32 rounded-lg" *ngIf="isImageOpen" id="imagePopup" [@popupAnimation]>
        <div class="text-right">
            <i class="fa fa-times-circle text-primary md:mt-3 text-5xl mt-0 md:-mb-0 -mb-24 hover:text-white duration-200 cursor-pointer" (click)="isImageOpen = false;"></i>
        </div>
        <img [src]="selectedImage" class="h-full mx-auto">
    </div>

    <!----------------- Recommendation  ------------------>
    <div class="mt-20">
        <app-recommendations (startNavigating)="navigateToUrl($event)"></app-recommendations>
    </div>

    <!-- Top News -->
</section>