<section id="movieDetailsSection">
    <!-- Main Movie Backround Image-->
    <div class="relative" id="mainMovieBackground">
        <img src="{{ movie && movie.backdropLink }}" alt="" class="w-full h-full object-cover object-center" id="mainMovieBackground">
        <div id="mainMovieBackgroundOverlay" class="inset-0 bg-black z-10 absolute"></div>
        <div class="absolute inset-0 z-20">
            <div class="container mx-auto">
                <div id="mainMovieContent" class="mt-48 px-3">
                    <h1 class="text-white md:text-6xl text-2xl" id="mainMovieTitle">{{ movie && movie.title }}</h1>
                    <ul id="mainMovieCategories" class="mt-3 font-semibold">
                        <li class="inline-block text-white md:text-xl mr-3" *ngFor="let category of movie?.categories">{{ category.name }}</li>
                    </ul>

                    <a class="inline-block px-5 py-2 bg-primary mt-12 rounded-full border-2 border-primary hover:bg-white cursor-pointer duration-200 group">
                        <span class="text-white font-semibold text-sm group-hover:text-primary duration-200">Watch Me</span>
                        <i class="fa fa-play-circle inline-block ml-3 text-lg text-white group-hover:text-primary duration-200"></i>
                    </a>

                    <a class="inline-block ml-3 px-5 py-2 bg-white mt-12 rounded-full border-2 border-primary hover:bg-primary cursor-pointer duration-200 group">
                        <span class="text-primary font-semibold text-sm group-hover:text-white duration-200">Like</span>
                        <i class="fa fa-heart inline-block ml-3 text-lg text-primary group-hover:text-white duration-200"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Movie Details -->
    <div class="mt-24">
        <div class="container mx-auto flex px-3 justify-around md:flex-no-wrap flex-wrap">
            <!-- Left Details Content -->
            <div id="leftDetailsContent" class="md:w-2/3 w-full md:pr-20 pr-0">
                <!-- Movie Details Container -->
                <div id="movieDetailsContainer" class="flex flex-wrap">
                    <img class="w-56 rounded-lg shadow-xl inline-block mx-auto md:mx-0 md:-mt-64 -mt-40 z-20" alt="" src="{{ movie && movie.posterLink }}" id="moviePosterImage">
                    <div id="movieDetails" class="md:ml-12 mx-auto">
                        <h1 class="font-bold text-xl tracking-wide text-center md:text-left mt-8 md:mt-0" id="movieDetailsHeader">Movie Details</h1>
                        <div id="movieDetailsBody" class="mt-8">
                            <!-- Release Date -->
                            <div>
                                <span class="text-sm font-semibold">Release Date: </span>
                                <span class="text-sm text-gray-800">{{ tmdbMovieDetails && tmdbMovieDetails.release_date | date : 'dd/MM/yyyy'}}</span>
                            </div>

                            <!-- Categories Date -->
                            <div>
                                <span class="text-sm font-semibold">Categories: </span>
                                <span class="text-sm text-gray-800">
                                    {{ movie && movie.categories | categoryCommaSeparatorPipe}}
                                </span>
                            </div>

                            <!-- Director -->
                            <div>
                                <span class="text-sm font-semibold">Director: </span>
                                <span class="text-sm text-gray-800">
                                    {{ tmdbMovieDetails && tmdbMovieDetails.credits.crew | directorCommaSeparatorPipe}}
                                </span>
                            </div>

                            <!-- Actors -->
                            <div>
                                <span class="text-sm font-semibold">Actors: </span>
                                <span class="text-sm text-gray-800">{{ tmdbMovieDetails && tmdbMovieDetails.credits.cast | actorCommaSeparatorPipe}}</span>
                            </div>

                            <!-- Country -->
                            <div>
                                <span class="text-sm font-semibold">Country: </span>
                                <span class="text-sm text-gray-800">
                                    {{ tmdbMovieDetails && tmdbMovieDetails.production_countries | countryCommaSeparatorPipe}}
                                </span>
                            </div>

                            <!-- Language -->
                            <div>
                                <span class="text-sm font-semibold">Languages: </span>
                                <span class="text-sm text-gray-800">{{ tmdbMovieDetails && tmdbMovieDetails.spoken_languages | languageCommaSeparatorPipe}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Plot Summary Container -->
                <div id="plotSummaryContainer" class="mt-20">
                    <h1 class="font-bold text-xl tracking-wide text-center md:text-left mt-8" id="plotSummaryHeader">Plot Summary</h1>
                    <p class="text-sm text-gray-800 mt-8">{{ tmdbMovieDetails.overview }}</p>
                </div>

                <!-- Trailers and Videos Container-->
                <div id="trailerAndVideosContainer" class="mt-20">
                    <h1 class="font-bold text-xl tracking-wide text-center md:text-left mt-8" id="plotSummaryHeader">Trailer & Videos</h1>
                    
                    <div class="flex flex-col">
                        <!-- First video -->
                        <div class="w-full mb-5 mt-8">
                            <iframe class="w-full rounded-lg shadow-xl" style="min-height: 400px;"
                            [src]="youtubeUrl(tmdbMovieDetails.videos.results[0].key)" allowfullscreen>
                            </iframe>
                        </div>
                        <!-- Remaining videos -->
                        <div class="flex flex-1">
                            <div class="flex-1 md:mr-5 mr-1" *ngFor="let video of tmdbMovieDetails.videos.results | videoSlicePipe">
                                <iframe class="w-full rounded-lg shadow-xl"
                                    [src]="youtubeUrl(video.key)" allowfullscreen>
                                </iframe>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>

            </div>

            <!-- Right Details Content -->
            <div id="rightDetailsContent" class="md:w-1/3 w-full mt-12 md:mt-0">
                <h1 class="font-bold text-primary text-xl tracking-wide text-center md:text-left mb-8" id="plotSummaryHeader">Photo Gallery</h1>
                <!-- Photo Gallery -->
                <div id="photoGalleryContainer" class="flex w-full flex-wrap justify-center md:justify-start">
                    <div class="p-1" *ngFor="let image of tmdbMovieDetails.images.posters.slice(0, 4)">
                        <img [src]="'https://image.tmdb.org/t/p/original' + image.file_path" alt="" class="w-24 h-32 rounded-lg shadow-xl">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>