#movieDetailsSection {
    background-color: white;

    #mainMovieBackground {
        height: 77vh;
    
        #mainMovieBackgroundOverlay {
            opacity: 0.14;
        }
    
        #mainMovieTitle {
            font-family: 'Work Sans', sans-serif;
            font-weight: 700;
        }
    }

    #leftDetailsContent {
        #moviePosterImage {
            height: 330px;
        }
    }

    #videoPlayer {
        right: 50%;
        width: 1200px;
        height: 700px;
        margin-right: -600px;
    }

    #imagePopup {
        right: 50%;
        width: 1000px;
        height: 700px;
        margin-right: -500px;
    }
}

@media screen and (max-width: 767px) {
    #videoPlayer {
        width: 100%!important;
        height: 100vh!important;
        margin: 0!important;
        padding: 0!important;
        right: 0%!important;

        iframe {
            margin-top: 200px!important;
            height: 350px;
            width: 100vw;
        }

        #videoExitIcon {
            position: relative;
            top: 200px;
        }
    }

    #imagePopup {
        width: 100%!important;
        height: 100vh!important;
        margin: 0!important;
        padding: 0!important;
        right: 0%!important;

        i {
            position: relative;
            top: 120px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.star-color {
    color: #ffdf00;
}