#allNewsSection {
    #allNewsBanner {
        height: 320px;
    }

    #leftDetailsContent {
        #newsBackdropImage {
            height: 330px;
        }
        
    }
}

.newsDetailsWrapper {
    position: relative;
    margin-top: -40px;
}

#newsMainContent {
    font-size: 0.875rem;
    color: #718096;
}
