<section id="pageNotFoundSection">
    <img src="../../assets/img/404 Background.png" alt="" class="fixed w-full h-full inset-0 object-cover">

    <div class="z-20 text-white top-0 left-0 fixed" id="mainContent">
        <h1 class="font-bold text-6xl text-center" id="oops">Oops!</h1>
        <p>We can't seem to find the page you are looking for</p>
        <button class="mt-10 text-center mx-auto block border-2 border-primary p-3 bg-white text-primary font-semibold rounded-full duration-200 hover:bg-primary hover:text-white focus:outline-none" routerLink="/home">Back To Homepage</button>
    </div>
</section>