<header class="fixed w-screen z-50 duration-300" [ngClass]="{'bg-black py-5': isHeaderMoving}">
    <div class="container mx-auto relative">
        <div class="flex justify-between px-3 md:px-2 relative">
            <div class="md:hidden self-center z-20" (click)="isDropdownOpen = !isDropdownOpen">
                <i class="fa fa-bars" style="color: white; font-size: 30px;" *ngIf="!isDropdownOpen"></i>
                <i class="fa fa-times" style="color: white; font-size: 30px" *ngIf="isDropdownOpen"></i>
            </div>
            <!-- left side -->
            <div class="flex">
                <div>
                    <img class="w-24 "src="../../assets/img/CineFlex Official Logo.png" alt="CineFlex Logo">
                </div>
                <div class="items-end hidden md:flex">
                    <a class="block uppercase text-sm md:text-md text-white font-semibold px-4 pl-6 cursor-pointer hover:text-primary duration-200" routerLink="/">Home</a>
                    <a class="block uppercase text-sm md:text-md text-white font-semibold px-4 cursor-pointer hover:text-primary duration-200" routerLink="/categories">Categories</a>
                    <a class="block uppercase text-sm md:text-md text-white font-semibold px-4 cursor-pointer hover:text-primary duration-200" routerLink="/recommended">Recommended</a>
                    <a class="block uppercase text-sm md:text-md text-white font-semibold px-4 cursor-pointer hover:text-primary duration-200" routerLink="/news">News</a>
                    <a class="block uppercase text-sm md:text-md text-white font-semibold px-4 cursor-pointer hover:text-primary duration-200">Newsletter</a>
                </div>
            </div>
            <!-- right side -->
            <div class="md:self-end self-center relative">
                <a routerLink="/auth/login" class="md:inline-block text-white bg-primary font-semibold px-6 py-2 cursor-pointer duration-200 border-primary border-2 border-solid rounded-full hover:bg-white hover:text-primary" *ngIf="!isUserLoggedIn">Login</a>
                <button class="cursor-pointer focus:outline-none active:outline-none" (click)="isUserDropdownOpen = !isUserDropdownOpen" *ngIf="isUserLoggedIn">
                    <img src="../../../assets/img/anonymous-user.jpg" class="w-12 rounded-full">
                </button>
                <!-- Dropdown user -->
                <div class="absolute bg-white right-0 p-1 w-40 mt-2 shadow-md rounded-md" *ngIf="isUserDropdownOpen && isUserLoggedIn" [@userDropdownAnimation]>
                    <a class="block px-4 py-2 text-md cursor-pointer text-gray-700 hover:bg-gray-300 duration-200 font-semibold" routerLink="/user/account" (click)="isUserDropdownOpen = false;">My Profile</a>
                    <a class="block px-4 py-2 text-md cursor-pointer text-gray-700 hover:bg-gray-300 duration-200 font-semibold" (click)="logOut()">Log Out</a>
                </div>
            </div>
        </div>
        <!-- Dropdown menu -->
        <div class=" px-5 mt-24 md:hidden dropdown-menu absolute w-full z-20" *ngIf="isDropdownOpen" [@hamburgerDropdownAnimation]>
            <a class="block font-semibold text-white my-8 text-center text-xl duration-200 hover:text-primary" routerLink="/" (click)="isDropdownOpen = false">Home</a>
            <a class="block font-semibold text-white my-8 text-center text-xl duration-200 hover:text-primary">Movies</a>
            <a class="block font-semibold text-white my-8 text-center text-xl duration-200 hover:text-primary">Category</a>
            <a class="block font-semibold text-white my-8 text-center text-xl duration-200 hover:text-primary">Recommended</a>
            <a class="block font-semibold text-white my-8 text-center text-xl duration-200 hover:text-primary">News</a>
            <a class="block font-semibold text-white my-8 text-center text-xl duration-200 hover:text-primary">Newsletter</a>
        </div>

        <!-- Overlay for mobile version dropdown menu -->
        <div class="absolute inset-0 bg-black opacity-75 w-screen h-screen" *ngIf="isDropdownOpen" [@darkOverlayAnimation]></div>

    </div>
</header>