<header>
    <div class="container mx-auto ">
        <div class="flex justify-between px-3 md:px-2">
            <div class="md:hidden self-center" (click)="toggleDropdown()">
                <i class="fa fa-bars" style="color: white; font-size: 30px;" *ngIf="!isDropdownOpen"></i>
                <i class="fa fa-times" style="color: white; font-size: 30px" *ngIf="isDropdownOpen"></i>
            </div>
            <!-- left side -->
            <div class="flex">
                <div>
                    <img class="w-24 "src="../../assets/img/CineFlex Official Logo.png" alt="CineFlex Logo">
                </div>
                <div class="items-end hidden md:flex">
                    <a class="block uppercase text-sm md:text-md text-white font-semibold px-4 pl-6 cursor-pointer hover:text-primary duration-200">Home</a>
                    <a class="block uppercase text-sm md:text-md text-white font-semibold px-4 cursor-pointer hover:text-primary duration-200">Category</a>
                    <a class="block uppercase text-sm md:text-md text-white font-semibold px-4 cursor-pointer hover:text-primary duration-200">Recommended</a>
                    <a class="block uppercase text-sm md:text-md text-white font-semibold px-4 cursor-pointer hover:text-primary duration-200">News</a>
                    <a class="block uppercase text-sm md:text-md text-white font-semibold px-4 cursor-pointer hover:text-primary duration-200">Newsletter</a>
                </div>
            </div>
            <!-- right side -->
            <div class="md:self-end self-center">
                <a routerLink="/auth/login" class="md:inline-block text-white bg-primary font-semibold px-6 py-2 cursor-pointer duration-200 border-primary border-2 border-solid rounded-full hover:bg-white hover:text-primary">Login</a>
            </div>
        </div>
        <!-- Dropdown menu -->
        <div class=" px-5 mt-20 md:hidden dropdown-menu" *ngIf="isDropdownOpen" [@inOutAnimation]>
            <a class="block font-semibold text-white my-5 text-center text-lg duration-200 hover:text-primary">Movies</a>
            <a class="block font-semibold text-white my-5 text-center text-lg duration-200 hover:text-primary">Category</a>
            <a class="block font-semibold text-white my-5 text-center text-lg duration-200 hover:text-primary">Recommended</a>
            <a class="block font-semibold text-white my-5 text-center text-lg duration-200 hover:text-primary">News</a>
            <a class="block font-semibold text-white my-5 text-center text-lg duration-200 hover:text-primary">Newsletter</a>
        </div>
    </div>
</header>