<section id="authentication-section" class="w-screen h-screen bg-red-500 flex items-center justify-center relative">
    <img src="../../../assets/img/CineFlex Official Logo.png" alt="CineFlex logo" class="w-32 top-0 left-0 ml-1 mt-1 md:ml-5 md:mt-5 absolute">
    <div class="flex bg-white shadow-2xl max-w-screen-lg flex-grow mx-5" id="main-form">
        <!-- left form -->
        <div class="md:w-1/2 px-10 py-5 flex-none w-full">
            <h1 class="text-4xl font-extrabold text-gray-900">Sign Up</h1>
            <p class="">Already a member? <a class="text-blue-500 cursor-pointer" routerLink="/auth/login">Login</a></p>

            <form class="mt-10" [formGroup]="signupForm" (ngSubmit)="signup()">
                <div class="flex justify-between flex-col md:flex-row">
                    <!-- first name input -->
                    <div class="md:w-1/2 w-full h-24">
                        <label for="firstname" class="font-bold block mb-1">First Name</label>
                        <input [formControlName]="'firstName'" type="text" id="firstname" class="bg-gray-300 rounded-lg py-2 w-full pl-3 shadow-inner focus:outline-none focus:shadow-outline">
                        <span  *ngIf="!signupForm.get('firstName').valid && signupForm.get('firstName').touched" class="block text-right md:text-left text-sm text-red-600 font-semibold">* First name is required</span>
                    </div>

                    <!-- last name input -->
                    <div class="mt-1 md:w-1/2 md:ml-5 w-full md:mt-0 h-24">
                        <label for="lastname" class="font-bold block mb-1">Last Name</label>
                        <input [formControlName]="'lastName'"  type="text" id="lastname" class="bg-gray-300 rounded-lg py-2 w-full pl-3 shadow-inner focus:outline-none focus:shadow-outline">
                        <span *ngIf="!signupForm.get('lastName').valid && signupForm.get('lastName').touched"  class="block text-right md:text-left text-sm text-red-600 font-semibold">* Last name is required</span>
                    </div>
                </div>

                <!-- Email input  -->
                <div class="mt-1 md:mt-1 h-24">
                    <label for="email" class="font-bold block mb-1">Email</label>
                    <input [formControlName]="'email'"  type="text" id="email" class="bg-gray-300 rounded-lg py-2 w-full pl-3 shadow-inner focus:outline-none focus:shadow-outline">
                    <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="block text-right md:text-left text-sm text-red-600 font-semibold">Please provide a valid email</span>
                </div>

                <!-- Password input -->
                <div class="mt-1 md:mt-7 h-24 relative">
                    <label for="password" class="font-bold block mb-1">Password</label>
                    <input #password [formControlName]="'password'" [type]="isPasswordVisible ? 'text' : 'password'" id="password" class="bg-gray-300 rounded-lg py-2 w-full pl-3 shadow-inner focus:outline-none focus:shadow-outline">
                    <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="block text-right md:text-left text-sm text-red-600 font-semibold">* Password required</span>
                    <span class="absolute right-0 inline-block mr-3 mt-2 cursor-pointer" *ngIf="password.value" (click)="isPasswordVisible = !isPasswordVisible">
                        <i class="fa fa-eye text-xl" *ngIf="!isPasswordVisible"></i>
                        <i class="fa fa-eye-slash text-xl" *ngIf="isPasswordVisible"></i>
                    </span>
                </div>

                <!-- Singup button -->
                <div class="mt-6 mb-3 text-center md:mt-12">
                    <button type="submit" class="focus:outline-none relative" [ngClass]="{'cursor-not-allowed': !signupForm.valid || isLoading}">
                        <!-- loading spinner -->
                        <div class="loadingio-spinner-spinner-8e51mcrbiyx absolute inline-block ml-10 -mt-5" *ngIf="isLoading"><div class="ldio-g5juwyp9ree">
                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                        </div></div>

                        <a [ngClass]="{'bg-red-300': !signupForm.valid || isLoading, 'bg-primary border-primary border-solid border-2 hover:text-primary hover:bg-white': signupForm.valid && !isLoading}" class="text-white font-bold px-10 py-3 rounded-full duration-200 focus:outline-none">
                            Sign Up
                        </a>
                    </button>
                </div>

                <div class="text-center mt-5 underline text-sm">
                    <a class="cursor-pointer text-blue-600" routerLink="/">
                        Back to Home
                    </a>
                </div>
            </form>
        </div>
        <!-- right image -->
        <div class="w-1/2 relative hidden md:block">
            <img src="../../../assets/img/singup-image.jpg" class="absolute inset-0 w-full h-full">
        </div>
    </div>
</section>
