<div id="typeComingSoon">
    <!-- Movie Cards Container -->
    <div class="flex justify-center overflow-x-scroll py-5" id="typeContainer">
        <div *ngFor="let movie of movies" class="sm:px-5 px-1 w-56">
            <div [routerLink]="['/home/movies/', movie.tmdbId]" class="relative transform hover:-translate-y-3 duration-200 hover:scale-105 focus:outline-none">
                <img src="{{ movie.posterLink }}" alt="" class="lg:w-56 rounded-lg shadow-xl cursor-pointer block mx-auto ">
                <i class="border ml-1 mb-2 fa fa-play-circle bottom-0 text-2xl text-white text-opacity-50 hover:text-white bg-transparent duration-200 absolute hover:bg-primary rounded-full" id="playButton"></i>
                <span class="inline-block absolute bottom-0 right-0 bg-white rounded-full text-xs px-3 font-bold mr-1 mb-2">{{ movie.rating }}</span>
            </div>
            <h2 class="text-xs font-semibold text-blue-500 text-center">{{ movie.movieType }}</h2>
            <h2 class="font-bold mt-5 md:text-base text-xs">{{ movie.title }}</h2>
            <p class="md:text-sm text-xs font-bold text-gray-500 mt-2">{{ movie.categories | categoryCommaSeparatorPipe:20 }}</p>
        </div>
    </div>
</div>