#card-1 {
    background: linear-gradient(to right, #36D1DC, #5B86E5);
}

#card-2 {
    background: linear-gradient(to right, #f857a6, #ff5858);
}

#card-3 {
    background: linear-gradient(to right, #00c3ff, #ffff1c);
}

#card-4 {
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
}