<section id="AboutSection" class="overflow-y-scroll bg-white pb-20">
    <!-- Top Banner -->
    <div class="relative" id="AboutBanner">
        <img src="../../../../assets/img/about-background.jpg" class="object-cover object-center w-full h-full absolute inset-0">
        <div class="container mx-auto absolute w-full inset-0">
            <h1 class="font-bold md:text-5xl text-3xl ml-3 md:ml-0 mt-40 text-white tracking-wide">About Me</h1>
        </div>
    </div>

    <!-- Main content -->
    <div class="container mx-auto md:p-0 p-5">
        <!-- Avtar image -->
        <div class="mt-10">
            <img src="../../../../assets/img/avatar-image.jpg" alt="" class="w-56 block mx-auto rounded-lg">
        </div>

        <!-- Who Am I -->
        <div class="mt-16">
            <h2 class="font-bold text-gray-900 text-lg">Who Am I ?</h2>
            <p class="mt-5 text-justify">
                Hello everyone! My name is <span class="font-semibold">Khoa Doan</span> and I'm from <span class="font-semibold">Vietnam</span>. I am currently a second year student at <span class="font-semibold">Fontys University of Applied Sciences</span>. My major is <span class="font-semibold">Information & Communication Technology</span>. I really love programming, especially about Web Development. 
                I spent most of the time in the day to code and solve programming problems. It is really fun and I have learnt a lot on the way. I believe that if you try your best, nothing is impossible. I'm currently ready to be employed and ambitious to make great softwares for my future client. Feel free to contact me!
            </p>
        </div>

        <!-- Why you made this project -->
        <div class="mt-16">
            <h2 class="font-bold text-gray-900 text-lg">Why You Made This Website ?</h2>
            <p class="mt-5 text-justify">This website is born during the first semester of my second year project. I use <span class="font-semibold">Angular, Tailwind CSS</span> on the frontend and <span class="font-semibold">Spring Boot</span> on the backend. Although this is the first time I learn these technologies but I have tried 
            my best to use the best practices suggested by the community. This website is also for educational purpose so no copyrights should be issued on it. The design ideas is inspired from many people and websites. To get movie details, I make HTPP request to the <span class="font-semibold">TMDb (The Movie Database) API</span> and handle the response object from the Angular side. 
            The website is full fledged and can always ready to be employed. I hope you will have a great experience during using my website hehe !
            </p>
        </div>

        <!-- How can I contact you ? -->
        <div class="mt-16">
            <h2 class="font-bold text-gray-900 text-lg">How Can We Contact You ?</h2>
            <p class="mt-5 text-justify">
                You can contact me through my Gmail, Facebook or Outlook. Anything you prefer. The contact link is below.
            </p>
            <p class="mt-5 text-center">
                <span class="text-blue-600 font-semibold">Facebook :</span> Doan Nguyen Thanh Khoa <br>
                <span class="text-red-600 font-semibold">Gmail :</span> doannguyenthanhkhoa2112@gmail.com <br>
                <span class="text-blue-800 font-semibold">Outlook :</span> khoa.doan@student.fontys.nl
            </p>
        </div>
    </div>

    
</section>

<app-footer></app-footer>