<div class="p-5">
    <!-- Top utilities bar -->
    <div class="flex justify-between">
        <h3 class="text-xl font-bold text-primary">Categories</h3>
        <button (click)="isAddModalOpen = !isAddModalOpen" class="block px-3 py-2 bg-primary rounded-md group hover:bg-white duration-200 focus:outline-none border-2 border-solid border-primary">
            <i class="fa fa-plus text-xs text-white group-hover:text-primary duration-200"></i>
            <span class="font-bold text-white group-hover:text-primary duration-200"> Add Category</span>
        </button>
    </div>

    <!-- Main section content -->
    <div class="rounded-lg bg-white w-full h-full mt-5 p-6">
        <!-- Search bar -->
        <div class="relative">
            <!-- Search input -->
            <div>
                <input type="text" class="bg-gray-200 p-2 pl-10 rounded-md w-1/2 focus:outline-none font-semibold text-gray-700" placeholder="Search By Name" #searchInput>
                <i class="fa fa-search absolute left-0 ml-3 mt-3 text-lg cursor-pointer text-gray-800 hover:text-primary duration-200"></i>
            </div>  
            <!-- Search results -->
            <div class="absolute bg-white border rounded-lg left-0 w-1/2 p-4 mt-3" *ngIf="searchInput.value !== ''" [@modalOpenAnimation]>
                <div class="border-b-2 py-2">Your results for <strong>{{ searchInput.value}}</strong></div>

                <!-- Searching spinner -->
                <div class="loadingio-spinner-spin-blut0vicmi8" *ngIf="isSearching"><div class="ldio-al5e038e2l">
                <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
                </div></div>

                <!-- Found categories -->
                <div *ngIf="!isSearching" class="mt-5">
                    <div *ngFor="let result of searchResults">
                        <span class="font-bold">ID: </span>
                        <span>{{ result.id }}</span>
                        <span class="font-bold"> | Name: </span>
                        <span>{{ result.name }}</span>
                    </div>
                </div>
                
                <!-- Not found notification -->
                <div *ngIf="searchResults && searchResults.length === 0 && !isSearching" class="mt-5">No matching results</div>
            </div>
        </div>

        <!-- Category Table -->
        <div class="mt-8">
            <table class="table-fixed w-full">
                <thead class="border-b-2">
                    <tr>
                        <th class="text-primary py-2 w-1/12">ID</th>
                        <th class="text-primary">Name</th>
                        <th class="text-primary">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b-2" *ngFor="let category of categories; let i = index">
                        <th class="text-gray-800 py-4 font-semibold">{{ category.id }}</th>
                        <th class="text-gray-800 py-4 font-semibold">{{ category.name }}</th>
                        <th class="text-gray-800 py-4">
                            <i (click)="this.isUpdateModalOpen = !isUpdateModalOpen; selectedCategory = categories[i];" class="fa fa-pencil-alt bg-green-200 rounded-md text-green-500 text-lg p-3 inline-block mr-5 cursor-pointer hover:text-green-200 hover:bg-green-500 duration-200"></i>
                            <i (click)="this.isDeleteModalOpen = !isDeleteModalOpen; selectedCategory = categories[i]" class="fa fa-trash-alt bg-red-200 rounded-md text-red-500 text-lg p-3 cursor-pointer hover:text-red-200 hover:bg-red-500 duration-200"></i>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Gray backdrop for modal -->
        <div class="fixed inset-0 w-screen h-screen bg-gray-500 opacity-50 z-10" *ngIf="isUpdateModalOpen || isAddModalOpen || isDeleteModalOpen" [@backdropOpenAnimation]>
        </div>

        <!-- Update Category modal content -->
        <div class="w-full max-w-lg bg-white rounded-lg z-20" id="updateCategoryModal" *ngIf="isUpdateModalOpen" [@modalOpenAnimation]>
            <h3 class="font-bold text-primary text-xl text-center mt-3">Edit Your Category</h3>

            <form class="mt-10" [formGroup]="updateCategoryForm" (ngSubmit)="updateCategory()">
                <!-- Category ID -->
                <div class="mb-8 p-5">
                    <label for="categoryId" class="font-semibold mb-2 block text-center">Category ID</label>
                    <input id="categoryId" type="text" class="p-2 bg-gray-300 block mx-auto rounded-md" formControlName="id" [(ngModel)]="selectedCategory.id">
                </div>

                <div class="mb-12 px-5">
                    <label for="categoryName" class="font-semibold mb-2 block text-center">Category Name</label>
                    <input id="categoryName" type="text" class="p-2 bg-gray-300 block mx-auto focus:outline-none focus:shadow-outline rounded-md" formControlName="name" [(ngModel)]="selectedCategory.name">  
                </div>

                <div class="bg-gray-200 rounded-b-lg p-3 text-right">
                    <a (click)="isUpdateModalOpen = !isUpdateModalOpen; updateCategoryForm.reset(); getAllCategories()" class="inline-block px-3 py-2 mr-2 font-semibold text-white bg-red-500 rounded-lg cursor-pointer border-2 border-red-500 hover:bg-white hover:text-red-500 duration-200 focus:outline-none">Cancel</a>
                    <button type="submit">
                        <a class="inline-block px-3 py-2 font-semibold text-white bg-green-500 rounded-lg cursor-pointer border-2 border-green-500 hover:bg-white hover:text-green-500 duration-200 focus:outline-none">Update</a>
                    </button>
                </div>
            </form>
        </div>

        <!-- Add Category modal content -->
        <div class="w-full max-w-lg bg-white rounded-lg z-20" id="addCategoryModal" *ngIf="isAddModalOpen" [@modalOpenAnimation]>
            <h3 class="font-bold text-primary text-xl text-center mt-3">Add Your Category</h3>

            <form class="mt-10" [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
                <div class="mb-12 px-5">
                    <label for="categoryName" class="font-semibold mb-2 block text-center">Category Name</label>
                    <input id="categoryName" type="text" class="p-2 bg-gray-300 block mx-auto focus:outline-none focus:shadow-outline rounded-md" formControlName="name">
                </div>

                <div class="bg-gray-200 rounded-b-lg p-3 text-right">
                    <a (click)="isAddModalOpen = !isAddModalOpen; addCategoryForm.reset(); getAllCategories()" class="inline-block px-3 py-2 mr-2 font-semibold text-white bg-red-500 rounded-lg cursor-pointer border-2 border-red-500 hover:bg-white hover:text-red-500 duration-200 focus:outline-none">Cancel</a>
                    <button type="submit" class="focus:outline-none">
                        <a class="inline-block px-3 py-2 font-semibold text-white bg-green-500 rounded-lg cursor-pointer border-2 border-green-500 hover:bg-white hover:text-green-500 duration-200 focus:outline-none">Add Category</a>
                    </button>
                </div>
            </form>
        </div>

        <!-- Delete Category modal content -->
        <div class="w-full max-w-lg bg-white rounded-lg z-20 -mt-10" id="deleteCategoryModal" *ngIf="isDeleteModalOpen" [@modalOpenAnimation]>
            <h3 class="font-bold text-primary text-xl text-center mt-3">Delete Your Category</h3>
            <p class="p-5 font-semibold text-primary text-center">Are you sure you want to delete the category with information below ?</p>

            <form class="mt-10" [formGroup]="deleteCategoryForm" (ngSubmit)="deleteCategory()">
                <!-- Category ID -->
                <div class="mb-8 p-5">
                    <label for="categoryId" class="font-semibold mb-2 block text-center">Category ID</label>
                    <input id="categoryId" type="text" class="p-2 bg-gray-300 block mx-auto rounded-md" [(ngModel)]="selectedCategory.id" formControlName="id">
                </div>

                <div class="mb-12 px-5">
                    <label for="categoryName" class="font-semibold mb-2 block text-center">Category Name</label>
                    <input id="categoryName" type="text" class="p-2 bg-gray-300 block mx-auto focus:outline-none focus:shadow-outline rounded-md" [(ngModel)]="selectedCategory.name" formControlName="name">
                </div>

                <div class="bg-gray-200 rounded-b-lg p-3 text-right">
                    <a (click)="isDeleteModalOpen = !isDeleteModalOpen" class="inline-block px-3 py-2 mr-2 font-semibold text-white bg-red-500 rounded-lg cursor-pointer border-2 border-red-500 hover:bg-white hover:text-red-500 duration-200">Cancel</a>
                    <button type="submit">
                        <a class="inline-block px-3 py-2 font-semibold text-white bg-green-500 rounded-lg cursor-pointer border-2 border-green-500 hover:bg-white hover:text-green-500 duration-200">Yes, I Confirm</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>