#updateNewsModal, #addNewsModal, #deleteNewsModal {
    // center the update category modal
    top: 0;
    overflow-y: scroll;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#categoryDropdownSelect {
  max-height: 5rem;
}

