<!-- Search Bar -->
<div id="searchBar" class="relative mb-20">
    <h2 class="text-primary font-bold text-xl">Search</h2>

    <input type="text" class="w-full rounded-full px-5 py-3 placeholder-gray-500 shadow-lg focus:outline-none mt-8" placeholder="Type here..." id="searchInput" [(ngModel)]="searchValue" #searchInput>
    <i class="fa fa-search absolute right-0 bottom-0 mb-4 mr-5 text-primary cursor-pointer transform hover:scale-105 hover:-translate-y-1 duration-200 p-1" *ngIf="!searchValue"></i>
    <i class="fa fa-times absolute right-0 bottom-0 mb-4 mr-5 text-primary cursor-pointer transform hover:scale-105 hover:-translate-y-1 duration-200 p-1" *ngIf="searchValue" (click)="searchValue = ''; searchResults = []"></i>

    <!-- Search Results -->
    <div class="absolute top-0 left-0 w-full bg-white rounded-lg shadow-lg z-20" id="searchResults" *ngIf="searchValue" [@modalOpenAnimation]>
        <!-- Found movies -->
        <div class="text-left" *ngIf="!isSearching && searchResults?.length !== 0">
            <div class="flex hover:bg-gray-200 duration-200 cursor-pointer py-2 px-3 my-2 shadow-md focus:outline-none" *ngFor="let movie of searchResults" [routerLink]="['/home/movies/', movie.tmdbId]">
                <img src="{{ movie.posterLink }}" alt="" class="h-24 w-20 object-cover object-center">
                <div class="ml-8 flex flex-col mt-5">
                    <h2 class="font-bold md:text-lg text-primary text-sm">{{ movie.title | shorten:20 }}</h2>
                    <p class="font-semibold md:text-sm text-gray-500 text-xs">{{ movie.categories | categoryCommaSeparatorPipe }}</p>
                </div>
            </div>
        </div>

        <!-- Skeleton loading  -->
        <div *ngIf="isSearching">
            <div class="flex hover:bg-gray-200 duration-200 cursor-pointer py-2 px-3 my-2 shadow-md animate-pulse" *ngFor="let i of [1, 2]">
                <div class="h-24 w-20 bg-gray-500"></div>
                <div class="ml-8 flex flex-col mt-5">
                    <div class="bg-gray-500 w-32 h-3 mt-5"></div>
                    <div class="bg-gray-500 w-48 h-3 mt-3"></div>
                </div>
            </div>
        </div>

        <h2 class="font-semibold text-center" *ngIf="!isSearching && searchResults?.length === 0">No matching result !</h2>
    </div>
</div>

<!-- Movie Categories -->
<div>
    <app-movie-category-navigator></app-movie-category-navigator>
</div>